# A PROGRAM FOR HACKATHON EVENT

In [1]:
import requests # to handle requests
import pandas as pd # for data analsysis
import numpy as np # to handle data in a vectorized manner

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
#tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    geopy-1.20.0               |             py_0          57 KB  conda-forge
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0         conda-forge
    geopy:           1.20.0-py_0       conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.11.27-0                  --> 2019.11.28-hecc5488_0 conda-forge
    certifi:         2019.11.28-py36_0             --> 2019.11.28-py36_0     conda-forge

The following packages will be DOWNGRADED:

    openssl:         1.1.1d-h7b6447c_3             --> 1.1.1d-h516909a_0     conda-forge


Downloading and Extracting Packages
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
geopy-1.20.0         | 57 KB     | ##################################### | 100%
openssl-1.1.1d       | 2.1 MB    | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
ca-certificates-2019 | 145 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    altair-4.0.0               |             py_0         606 KB  conda-forge
    branca-0.3.1               |             py_0          25 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         704 KB

The following NEW packages will be INSTALLED:

    altair:  4.0.0-py_0 conda-forge
    branca:  0.3.1-py_0 conda-forge
    folium:  0.5.0-py_0 conda-forge
    vincent: 0.4.4-py_1 conda-forge


Downloading and Extracting Packages
vincent-0.4.4        | 28 KB     | ##################################### | 100%
altair-4.0.0         | 606 KB    | ##################################### | 100%
branca-0.3.1         | 25 KB     | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

# FOUR SQUARE CREDENTIALS

In [33]:
ClIENT_ID = 'FN3SSHY5YSDJDHA5THZXW315E4ZJFDEO4IOTWFZZUSVKEWDZ' # your Foursquare ID
ClIENT_SECRET = 'VC1JLYNG2ZOZPN4E2JJ2WXD24EKJAA1VOTFYJGS3FJWKOANK' # your Foursquare Secret
VERSION = '20191218'
LIMIT =50
print('Your credentails:')
print('Foursquare_ID: ' + ClIENT_ID)
print('Foursquare_Secret:' + ClIENT_SECRET)

Your credentails:
Foursquare_ID: FN3SSHY5YSDJDHA5THZXW315E4ZJFDEO4IOTWFZZUSVKEWDZ
Foursquare_Secret:VC1JLYNG2ZOZPN4E2JJ2WXD24EKJAA1VOTFYJGS3FJWKOANK

# CITY AND LOCATION

In [34]:
# define the city and get its latitude & longitude 
city = 'Hyderabad'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(city)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

17.38878595 78.4610647345315

# HOTEL DATA

In [35]:
# search for hotels
search_query = 'Hotel'
radius = 3600

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'\
.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=FN3SSHY5YSDJDHA5THZXW315E4ZJFDEO4IOTWFZZUSVKEWDZ&client_secret=VC1JLYNG2ZOZPN4E2JJ2WXD24EKJAA1VOTFYJGS3FJWKOANK&ll=17.38878595,78.4610647345315&v=20191218&query=Hotel&radius=3600&limit=50'

In [36]:
# Send the GET Request and examine the results
results = requests.get(url).json()
#results

In [37]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4d954b06a243a5684965b473', 'name': 'R...",False,520f63a311d26e0c0c70b21e,Station road,IN,Hyder훮b훮d,India,NaN,1009,"[Station road, Hyder훮b훮d, Telangana, India]","[{'label': 'display', 'lat': 17.39117831545719...",17.391178,78.470230,NaN,Telangana,Hotel Imperial,v-1576668747
1,"[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",False,4bd77f3a304fce72baa333ab,"11-4-649/C, AC Guards Lakdi-ka-Pu",IN,Hyderabad,India,NaN,1574,"[11-4-649/C, AC Guards Lakdi-ka-Pu, Hyderabad,...","[{'label': 'display', 'lat': 17.40291502609864...",17.402915,78.460450,NaN,Telangana,Woodbridge Hotel,v-1576668747
2,"[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",False,4be06fbf4c55b651426feab7,"4-1-999, Abidi Road Chirag Ali Road",IN,Hyderabad,India,NaN,1720,"[4-1-999, Abidi Road Chirag Ali Road, Hyderaba...","[{'label': 'display', 'lat': 17.39194189711636...",17.391942,78.476915,NaN,Telangana,Taj Mahal Hotel,v-1576668747
3,"[{'id': '4bf58dd8d48988d1d5941735', 'name': 'H...",False,4bd5c7299649ce7251a9511d,10-1-124 Masab Tank,IN,Hyderabad,India,NaN,1901,"[10-1-124 Masab Tank, Hyderabad 500028, Telang...","[{'label': 'display', 'lat': 17.404457, 'lng':...",17.404457,78.453950,500028,Telangana,The Golkonda Hotel,v-1576668747
4,"[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",False,4e162ff36284b506cfd78f49,Chaderghat,IN,Hyderabad,India,NaN,3528,"[Chaderghat, Hyderabad 500036, Telangana, India]","[{'label': 'display', 'lat': 17.37710064393863...",17.377101,78.491940,500036,Telangana,Hotel Savera,v-1576668747

# CLEAN HOTEL DATA

In [38]:
# keep only columns that include venue name, and anything that is associated with location
clean_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')]+ ['id']
clean_dataframe = dataframe.loc[:,clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
clean_dataframe['categories'] = clean_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_dataframe.columns = [column.split('.')[-1] for column in clean_dataframe.columns]

clean_dataframe.head()

,name,categories,address,cc,city,country,crossStreet,distance,formattedAddress,labeledLatLngs,lat,lng,postalCode,state,id
0,Hotel Imperial,Residential Building (Apartment / Condo),Station road,IN,Hyder훮b훮d,India,NaN,1009,"[Station road, Hyder훮b훮d, Telangana, India]","[{'label': 'display', 'lat': 17.39117831545719...",17.391178,78.470230,NaN,Telangana,520f63a311d26e0c0c70b21e
1,Woodbridge Hotel,Hotel,"11-4-649/C, AC Guards Lakdi-ka-Pu",IN,Hyderabad,India,NaN,1574,"[11-4-649/C, AC Guards Lakdi-ka-Pu, Hyderabad,...","[{'label': 'display', 'lat': 17.40291502609864...",17.402915,78.460450,NaN,Telangana,4bd77f3a304fce72baa333ab
2,Taj Mahal Hotel,Hotel,"4-1-999, Abidi Road Chirag Ali Road",IN,Hyderabad,India,NaN,1720,"[4-1-999, Abidi Road Chirag Ali Road, Hyderaba...","[{'label': 'display', 'lat': 17.39194189711636...",17.391942,78.476915,NaN,Telangana,4be06fbf4c55b651426feab7
3,The Golkonda Hotel,Hotel Bar,10-1-124 Masab Tank,IN,Hyderabad,India,NaN,1901,"[10-1-124 Masab Tank, Hyderabad 500028, Telang...","[{'label': 'display', 'lat': 17.404457, 'lng':...",17.404457,78.453950,500028,Telangana,4bd5c7299649ce7251a9511d
4,Hotel Savera,Hotel,Chaderghat,IN,Hyderabad,India,NaN,3528,"[Chaderghat, Hyderabad 500036, Telangana, India]","[{'label': 'display', 'lat': 17.37710064393863...",17.377101,78.491940,500036,Telangana,4e162ff36284b506cfd78f49

In [39]:
# delete unnecessary columns
clean_dataframe2= clean_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress', 'labeledLatLngs','id'],axis=1)
clean_dataframe2

,name,categories,address,lat,lng,postalCode,state
0,Hotel Imperial,Residential Building (Apartment / Condo),Station road,17.391178,78.470230,NaN,Telangana
1,Woodbridge Hotel,Hotel,"11-4-649/C, AC Guards Lakdi-ka-Pu",17.402915,78.460450,NaN,Telangana
2,Taj Mahal Hotel,Hotel,"4-1-999, Abidi Road Chirag Ali Road",17.391942,78.476915,NaN,Telangana
3,The Golkonda Hotel,Hotel Bar,10-1-124 Masab Tank,17.404457,78.453950,500028,Telangana
4,Hotel Savera,Hotel,Chaderghat,17.377101,78.491940,500036,Telangana
5,Hampshire Plaza Hotel,Hotel,"6-1-79 & 80, Lakdikapul",17.405397,78.464407,NaN,Telangana
6,Hotel Mandakini Jaya International,Hotel,Hanuman tekdi road,17.385698,78.476934,NaN,Andhra Pradesh
7,Hotel Nayaab,Food Court,Charminar,17.368504,78.477480,NaN,NaN
8,Hotel Rajdhani,Hotel,Siddiamber Bazaar,17.378295,78.474986,NaN,Telangana
9,Alliance Woodbridge Hotel,Hotel,11-4-649/C AC GUARDS LAKDI KA POOL,17.402977,78.459991,NaN,Telangana
10,Hotel Mansingh,Indian Restaurant,Begum Bazaar,17.376543,78.475747,NaN,Telangana
11,Hotel Marjaan,Caf챕,NaN,17.395373,78.455115,NaN,NaN
12,Al-humdulillah Hotel,Indian Restaurant,NaN,17.390728,78.462992,NaN,NaN
13,Cassia - Hotel Hamphshire,Indian Restaurant,Lakdikapul,17.404809,78.461033,NaN,Telangana
14,Hotel Swagath Grand,Fast Food Restaurant,Attapur,17.380493,78.429133,500008,Telangana
15,The Central Court Hotel,Hotel,"6-1-71, Lakdi ka Pul",17.404201,78.464950,NaN,Telangana
16,Hotel Kamath,Caf챕,NaN,17.390799,78.471006,NaN,NaN
17,Hotel raj international,Hotel Pool,Nampally road,17.392892,78.463919,NaN,Andhra pradesg
18,Hotel Arastu,Bed & Breakfast,NaN,17.391482,78.465582,NaN,NaN
19,Hotel Celestee Grand,Hotel,"H.no - 11-6-460-465, Dargah Road, Nampally,",17.392014,78.465233,500001,Telangana
20,Hotel Royalton,Hotel,NaN,17.393211,78.473504,NaN,Telangana
21,Hotel imperiar,Residential Building (Apartment / Condo),Nampally,17.388606,78.468337,NaN,Telangana
22,Hotel Famous,Boarding House,NaN,17.390976,78.468021,NaN,NaN
23,The Park Hotel,Hotel,22 Raj Bhavan Rd,17.423605,78.462401,500082,Telangana
24,Hotel Firdous,Indian Restaurant,NaN,17.378550,78.493727,NaN,NaN
25,Hotel Gateway,Travel Lounge,NaN,17.392333,78.469353,NaN,NaN
26,Katriya Hotel & Towers,Hotel,"8 Rajbhavan Road, Somajiguda",17.424833,78.459583,NaN,Telangana
27,Hotel Harsha,Hotel,39 public garden road,17.392818,78.470785,500001,Telangana
28,Hotel Rajmata,Hostel,NaN,17.392639,78.471001,NaN,NaN
29,Hotel Silver Point,None,Near By MedWin Hospital,17.394849,78.470074,NaN,Andhra Pradesh
30,Hotel Kanha Grand,Bed & Breakfast,11-5-341/2,17.399285,78.462768,500004,Telangana
31,Hotel Marjan,Hotel,NaN,17.394911,78.470747,NaN,NaN
32,New Gulzar Yousufain Hotel,None,Lingamurthy,17.393492,78.465685,NaN,Andhra Pradesh
33,Hotel Saptagiri Deluxe,Bed & Breakfast,NaN,17.388108,78.473271,NaN,NaN
34,City Diamond Hotel,Restaurant,NaN,17.389250,78.453568,NaN,NaN
35,Hotel Sri Supraja Pride,Hotel,NaN,17.388592,78.474945,NaN,NaN
36,Hotel Royal Sea,Caf챕,NaN,17.401358,78.457208,NaN,NaN
37,Hotel Royal Residency,Bed & Breakfast,NaN,17.402789,78.463153,NaN,Telangana
38,Hotel Pearl Regency,Hotel,NaN,17.401616,78.463678,NaN,Andhra Pradesh
39,Hotel Riya Grand,Bed & Breakfast,#11-6-872/A/B,17.402283,78.466706,500004,Telangana
40,Hotel Grand plaza,Hotel,NaN,17.397877,78.470802,NaN,Telangana
41,Hotel Mercure,Hotel,Near Fateh Sultan Road,17.393191,78.473576,NaN,Telangana
42,Nimrah Hotel,Caf챕,NaN,17.361136,78.474373,500002,Telangana
43,Hotel Asiana,Asian Restaurant,NaN,17.398127,78.449486,NaN,NaN
44,Hotel Fishland,Indian Restaurant,Opposite Dwaraka Hotel,17.405732,78.462559,500004,Telangana
45,hotel suhail,Hotel,NaN,17.395960,78.475128,NaN,NaN
46,Hotel Indu,None,Near Assembly,17.403599,78.467699,NaN,Telangana
47,Hotel R -Inn Continental,Bed & Breakfast,"11-6-872/1/A, Redhills, Lakdi-ka-pul",17.403793,78.464779,500004,Telangana
48,Voulga Hotel,Caf챕,Khilwath Road,17.355043,78.468970,NaN,Telangana
49,Hotel Mandakini,Hotel,NaN,17.388250,78.477715,NaN,NaN

In [40]:
# delete rows with none values
clean_dataframe3 = clean_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
clean_dataframe3

,name,categories,address,lat,lng,postalCode,state
3,The Golkonda Hotel,Hotel Bar,10-1-124 Masab Tank,17.404457,78.453950,500028,Telangana
4,Hotel Savera,Hotel,Chaderghat,17.377101,78.491940,500036,Telangana
14,Hotel Swagath Grand,Fast Food Restaurant,Attapur,17.380493,78.429133,500008,Telangana
19,Hotel Celestee Grand,Hotel,"H.no - 11-6-460-465, Dargah Road, Nampally,",17.392014,78.465233,500001,Telangana
23,The Park Hotel,Hotel,22 Raj Bhavan Rd,17.423605,78.462401,500082,Telangana
27,Hotel Harsha,Hotel,39 public garden road,17.392818,78.470785,500001,Telangana
30,Hotel Kanha Grand,Bed & Breakfast,11-5-341/2,17.399285,78.462768,500004,Telangana
39,Hotel Riya Grand,Bed & Breakfast,#11-6-872/A/B,17.402283,78.466706,500004,Telangana
44,Hotel Fishland,Indian Restaurant,Opposite Dwaraka Hotel,17.405732,78.462559,500004,Telangana
47,Hotel R -Inn Continental,Bed & Breakfast,"11-6-872/1/A, Redhills, Lakdi-ka-pul",17.403793,78.464779,500004,Telangana

In [47]:
# choose the hotel which has the same postalCode with the event space
df_hotel = df_hotels[df_hotels.postalCode == '500001']
df_hotel

,name,categories,address,lat,lng,postalCode,state
19,Hotel Celestee Grand,Hotel,"H.no - 11-6-460-465, Dargah Road, Nampally,",17.392014,78.465233,500001,Telangana
27,Hotel Harsha,Hotel,39 public garden road,17.392818,78.470785,500001,Telangana

# PARKS IN AREA

In [60]:
# search for Parks
search_query = 'Park'
radius = 45000

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'\
.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=FN3SSHY5YSDJDHA5THZXW315E4ZJFDEO4IOTWFZZUSVKEWDZ&client_secret=VC1JLYNG2ZOZPN4E2JJ2WXD24EKJAA1VOTFYJGS3FJWKOANK&ll=17.38878595,78.4610647345315&v=20191218&query=Park&radius=45000&limit=50'

In [61]:
# Send the GET Request and examine the results
presults = requests.get(url).json()
#presults

In [62]:
# assign relevant part of JSON to venues
venues = presults['response']['venues']

# tranform venues into a dataframe
park_dataframe = json_normalize(venues)
park_dataframe.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.neighborhood,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d163941735', 'name': 'P...",False,4ce914cbf3bda14382d2bde4,KBR National Park,IN,Hyderabad,India,LV Prasad Marg,5586,"[KBR National Park (LV Prasad Marg), Hyderabad...","[{'label': 'display', 'lat': 17.42536930610665...",17.425369,78.425063,Jubilee Hills,NaN,Telangana,KBR Park,v-1576669802
1,"[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",False,4f93cb30e4b03828fe09326a,Road No. 2 Banjara Hills,IN,Hyderabad,India,NaN,5216,"[Road No. 2 Banjara Hills, Hyderabad 500034, T...","[{'label': 'display', 'lat': 17.42476445227363...",17.424764,78.429600,NaN,500034,TG,Park Hyatt Hyderabad,v-1576669802
2,"[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",False,4be1701a8dd062b583483e3c,22 Raj Bhavan Rd,IN,Hyderabad,India,Somajiguda,3878,"[22 Raj Bhavan Rd (Somajiguda), Hyderabad 5000...","[{'label': 'display', 'lat': 17.42360500386294...",17.423605,78.462401,NaN,500082,Telangana,The Park Hotel,v-1576669802
3,"[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",False,595cd1892bf9a971a2b91b3e,Mehdipatnam,IN,Hyderabad,India,NaN,1787,"[Mehdipatnam, Hyderabad 500057, TG, India]","[{'label': 'display', 'lat': 17.399034, 'lng':...",17.399034,78.448108,NaN,500057,TG,Park Continental Hotel,v-1576669802
4,"[{'id': '4bf58dd8d48988d1f8941735', 'name': 'F...",False,501ea97ae4b0d43ab64431e3,NaN,IN,NaN,India,NaN,978,[India],"[{'label': 'display', 'lat': 17.38992994637108...",17.389930,78.470202,NaN,NaN,NaN,The interior park,v-1576669802

# CLEANING PARK DATA

In [63]:
# keep only columns that include venue name, and anything that is associated with location
park_clean_columns = ['name', 'categories'] + [col for col in park_dataframe.columns if col.startswith('location.')]+ ['id']
clean_park_dataframe = park_dataframe.loc[:,park_clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list1 = row['categories']
    except:
        categories_list1 = row['venue.categories']
        
    if len(categories_list1) == 0:
        return None
    else:
        return categories_list1[0]['name']

# filter the category for each row
clean_park_dataframe['categories'] = clean_park_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_park_dataframe.columns = [column.split('.')[-1] for column in clean_park_dataframe.columns]

clean_park_dataframe.head()

,name,categories,address,cc,city,country,crossStreet,distance,formattedAddress,labeledLatLngs,lat,lng,neighborhood,postalCode,state,id
0,KBR Park,Park,KBR National Park,IN,Hyderabad,India,LV Prasad Marg,5586,"[KBR National Park (LV Prasad Marg), Hyderabad...","[{'label': 'display', 'lat': 17.42536930610665...",17.425369,78.425063,Jubilee Hills,NaN,Telangana,4ce914cbf3bda14382d2bde4
1,Park Hyatt Hyderabad,Hotel,Road No. 2 Banjara Hills,IN,Hyderabad,India,NaN,5216,"[Road No. 2 Banjara Hills, Hyderabad 500034, T...","[{'label': 'display', 'lat': 17.42476445227363...",17.424764,78.429600,NaN,500034,TG,4f93cb30e4b03828fe09326a
2,The Park Hotel,Hotel,22 Raj Bhavan Rd,IN,Hyderabad,India,Somajiguda,3878,"[22 Raj Bhavan Rd (Somajiguda), Hyderabad 5000...","[{'label': 'display', 'lat': 17.42360500386294...",17.423605,78.462401,NaN,500082,Telangana,4be1701a8dd062b583483e3c
3,Park Continental Hotel,Hotel,Mehdipatnam,IN,Hyderabad,India,NaN,1787,"[Mehdipatnam, Hyderabad 500057, TG, India]","[{'label': 'display', 'lat': 17.399034, 'lng':...",17.399034,78.448108,NaN,500057,TG,595cd1892bf9a971a2b91b3e
4,The interior park,Furniture / Home Store,NaN,IN,NaN,India,NaN,978,[India],"[{'label': 'display', 'lat': 17.38992994637108...",17.389930,78.470202,NaN,NaN,NaN,501ea97ae4b0d43ab64431e3

In [57]:
# delete unnecessary columns
clean_park_dataframe2= clean_park_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'neighborhood','formattedAddress',\
                                        'labeledLatLngs', 'id'], axis=1)
clean_park_dataframe2

,name,categories,address,lat,lng,postalCode,state
0,KBR Park,Park,KBR National Park,17.425369,78.425063,NaN,Telangana
1,Park Hyatt Hyderabad,Hotel,Road No. 2 Banjara Hills,17.424764,78.429600,500034,TG
2,The Park Hotel,Hotel,22 Raj Bhavan Rd,17.423605,78.462401,500082,Telangana
3,Park Continental Hotel,Hotel,Mehdipatnam,17.399034,78.448108,500057,TG
4,The interior park,Furniture / Home Store,NaN,17.389930,78.470202,NaN,NaN
5,Park view,Residential Building (Apartment / Condo),NaN,17.466397,78.485148,NaN,NaN
6,The Park View,Smoke Shop,NaN,17.424646,78.423025,NaN,NaN
7,Jalagam Vengalrao Park,Park,Road No 1,17.422526,78.448826,NaN,Telangana
8,"Raheja Mindspace IT Park, Building 9",Office,NaN,17.394800,78.470600,NaN,NaN
9,Hotel Green Park,Hotel,"Ameerpet Rd, Greenlands, Begumpet",17.436276,78.453892,560016,Telangana
10,Chacha Nehru Park,Park,Masab Tank,17.401969,78.449486,500028,Telangana
11,oxy rich park,Park,NaN,17.400322,78.454988,NaN,NaN
12,OYO The City Park,Hotel,"The city park, 5-8-457-489, Chirag AlicLane, A...",17.391635,78.474416,500001,TG
13,Sanjivaiah park rly station,Light Rail Station,NaN,17.435000,78.476302,NaN,NaN
14,srinagar colony park,Park,NaN,17.429563,78.439682,NaN,NaN
15,Lumbini Park,Park,Opp. AP Secretariat,17.409307,78.472439,NaN,Telangana
16,Aditya Park Hotel,Hotel,"Aditya Trade Centre, Ameerpet",17.436140,78.446450,NaN,Telangana
17,Indira Park,Park,NaN,17.412103,78.481430,NaN,Telangana
18,Ashok Nagar Children's Park,Park,Ashok Nagar Main Road,17.405775,78.489748,500020,Telangana
19,THE PARK,Park,chintal basti,17.413519,78.453289,NaN,Telangana
20,Comfort Inn City Park Hyderabad,Bed & Breakfast,"5-8-457 to 489 Chirag Ali, Abids",17.386835,78.479931,NaN,Telangana
21,The Veg Park,North Indian Restaurant,NaN,17.403050,78.476509,NaN,NaN
22,Sundarayya park,Park,Baglingampally,17.397676,78.503842,NaN,NaN
23,Giridhari Executive Park,Residential Building (Apartment / Condo),Shivrampally,17.398230,78.481968,NaN,Telangana
24,Hotel Central Park,Rest Area,NaN,17.399091,78.480830,NaN,NaN
25,Priyadarshini HMDA Park,Scenic Lookout,Saroornagar,17.351851,78.535375,NaN,NaN
26,Parking,Parking,Nehru Zoological Park,17.350932,78.452373,NaN,Telangana
27,Nehru Zoological Park,Zoo,"Zoo Park Main Rd, Charminar",17.350778,78.451396,NaN,Telangana
28,Boating @ Lumbini Park,Boat or Ferry,Lumbini Park,17.412100,78.465484,NaN,Telangana
29,Park Hyatt Fitness Center,Gym / Fitness Center,Road No. 2 Banjara Hills,17.424935,78.429493,NaN,NaN
30,Bunjee @ Lumbini Park,Park,NaN,17.411069,78.474903,NaN,NaN
31,Deccan Park (Tata Consultancy Services Ltd.),Office,"Plot No.1, Software Units Layout",17.444592,78.378424,500081,Telangana
32,Nostradamus At Fortune Park,Lounge,NaN,17.411499,78.435386,NaN,Telangana
33,Park View Apartments,Residential Building (Apartment / Condo),SBI Officer's Colony,17.400952,78.505043,500013,Telangana
34,Lakeview Park,Park,Opp Prasadz IMAX,17.415017,78.463858,NaN,Telangana
35,Lake View Park,Park,NaN,17.412341,78.448204,NaN,NaN
36,park avenue,Clothing Store,Road no. 2,17.424115,78.430682,NaN,NaN
37,Park Lane,Arcade,Park Lane,17.439547,78.489633,NaN,Telangana
38,Venkataramana Colony Park,Park,NaN,17.416313,78.452473,NaN,NaN
39,Domalguda Park(DP),Park,NaN,17.405974,78.485953,NaN,NaN
40,PP Park,Park,NaN,17.417693,78.441174,NaN,NaN
41,People's Park,Park,NaN,17.405159,78.493531,NaN,NaN
42,Melkote park,Park,Vitthal vadi,17.398335,78.489027,NaN,Telangana
43,Aditiya Park Inn Hotel Hyderabad,Bed & Breakfast,Aditya Enclave Hyderbad,17.405507,78.489112,NaN,Telangana
44,Park Hyatt Hyderabad,Hotel Pool,"Road No. 2, Banjara Hills",17.446375,78.392241,500034,Telangana
45,Narayanguda Park,Park,NaN,17.396579,78.494587,NaN,NaN
46,The Orchid - Fortune Park,Diner,"Fortune Park Vallabha, Banjara Hills",17.411403,78.435634,500034,Telangana
47,Fortune park vallabha Hyderabad,Hotel Pool,NaN,17.411264,78.435419,NaN,NaN
48,NTR Park,Playground,NaN,17.411302,78.486302,NaN,Andhra Pradesh
49,"7004 Room, The Park Hotel",Other Nightlife,NaN,17.422775,78.461960,NaN,NaN

In [64]:
# delete rows with none values
clean_park_dataframe3 = clean_park_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
clean_park_dataframe3

,name,categories,address,lat,lng,postalCode,state
1,Park Hyatt Hyderabad,Hotel,Road No. 2 Banjara Hills,17.424764,78.429600,500034,TG
2,The Park Hotel,Hotel,22 Raj Bhavan Rd,17.423605,78.462401,500082,Telangana
3,Park Continental Hotel,Hotel,Mehdipatnam,17.399034,78.448108,500057,TG
9,Hotel Green Park,Hotel,"Ameerpet Rd, Greenlands, Begumpet",17.436276,78.453892,560016,Telangana
10,Chacha Nehru Park,Park,Masab Tank,17.401969,78.449486,500028,Telangana
12,OYO The City Park,Hotel,"The city park, 5-8-457-489, Chirag AlicLane, A...",17.391635,78.474416,500001,TG
18,Ashok Nagar Children's Park,Park,Ashok Nagar Main Road,17.405775,78.489748,500020,Telangana
31,Deccan Park (Tata Consultancy Services Ltd.),Office,"Plot No.1, Software Units Layout",17.444592,78.378424,500081,Telangana
33,Park View Apartments,Residential Building (Apartment / Condo),SBI Officer's Colony,17.400952,78.505043,500013,Telangana
44,Park Hyatt Hyderabad,Hotel Pool,"Road No. 2, Banjara Hills",17.446375,78.392241,500034,Telangana
46,The Orchid - Fortune Park,Diner,"Fortune Park Vallabha, Banjara Hills",17.411403,78.435634,500034,Telangana

In [65]:
# delete rows which its category is not Park
df_park = clean_park_dataframe3[clean_park_dataframe3.categories == 'Park']
df_park

,name,categories,address,lat,lng,postalCode,state
10,Chacha Nehru Park,Park,Masab Tank,17.401969,78.449486,500028,Telangana
18,Ashok Nagar Children's Park,Park,Ashok Nagar Main Road,17.405775,78.489748,500020,Telangana

# SEARCHING RESTAURANTS

In [66]:
# search for Restaurants
search_query = 'Restaurant'
radius = 36000

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=FN3SSHY5YSDJDHA5THZXW315E4ZJFDEO4IOTWFZZUSVKEWDZ&client_secret=VC1JLYNG2ZOZPN4E2JJ2WXD24EKJAA1VOTFYJGS3FJWKOANK&ll=17.38878595,78.4610647345315&v=20191218&query=Restaurant&radius=36000&limit=50'

In [67]:
# Send the GET Request and examine the results
Rresults = requests.get(url).json()
#Rresults

In [68]:
# assign relevant part of JSON to venues
venues = Rresults['response']['venues']

# tranform venues into a dataframe
Restaurant_dataframe = json_normalize(venues)
Restaurant_dataframe.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.neighborhood,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d115941735', 'name': 'M...",False,517bee0be4b055745975c517,NaN,IN,NaN,India,NaN,3109,[India],"[{'label': 'display', 'lat': 17.39536160730009...",17.395362,78.432614,NaN,NaN,NaN,Al Rabea Al Arabi Restaurant,v-1576669916
1,"[{'id': '4bf58dd8d48988d10f941735', 'name': 'I...",False,4f9433d3e4b0949d21694780,Adj. Prince Hotel,IN,Hyderabad,India,Meraj Hotel,2076,"[Adj. Prince Hotel (Meraj Hotel), Hyderabad 50...","[{'label': 'display', 'lat': 17.39448615049604...",17.394486,78.442452,NaN,500028,Telangana,Akbar Fast Food Restaurant,v-1576669916
2,"[{'id': '54135bf5e4b08f3d2429dfe6', 'name': 'H...",False,4bcee9d1cc8cd13a5efdc4cf,Paradise Circle,IN,Secunderabad,India,NaN,6533,"[Paradise Circle, Secunderabad 500003, Telanga...","[{'label': 'display', 'lat': 17.44184420016073...",17.441844,78.487354,NaN,500003,Telangana,Paradise Restaurant,v-1576669916
3,"[{'id': '4bf58dd8d48988d10f941735', 'name': 'I...",False,4c81163ad92ea093375a3d72,Toli Chowli,IN,Hyderabad,India,M,3911,"[Toli Chowli (M), Hyderabad 500058, Telangana,...","[{'label': 'display', 'lat': 17.3962770409263,...",17.396277,78.425094,NaN,500058,Telangana,Shah Ghouse Cafe and Restaurant,v-1576669916
4,"[{'id': '503287a291d4c4b30a586d65', 'name': 'F...",False,5823557cda82023188157a2f,NaN,IN,Hyderabad,India,NaN,541,"[Hyderabad, Telangana, India]","[{'label': 'display', 'lat': 17.38612646647625...",17.386126,78.456796,NaN,NaN,Telangana,Grills restaurant,v-1576669916

# CLEAN RESTAURANT DATAFRAME

In [69]:
# keep only columns that include venue name, and anything that is associated with location
Restaurant_clean_columns = ['name', 'categories'] + [col for col in Restaurant_dataframe.columns if col.startswith('location.')]+ ['id']
clean_Restaurant_dataframe = Restaurant_dataframe.loc[:,Restaurant_clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list3 = row['categories']
    except:
        categories_list3 = row['venue.categories']
        
    if len(categories_list3) == 0:
        return None
    else:
        return categories_list3[0]['name']

# filter the category for each row
clean_Restaurant_dataframe['categories'] = clean_Restaurant_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_Restaurant_dataframe.columns = [column.split('.')[-1] for column in clean_Restaurant_dataframe.columns]

clean_Restaurant_dataframe.head()

,name,categories,address,cc,city,country,crossStreet,distance,formattedAddress,labeledLatLngs,lat,lng,neighborhood,postalCode,state,id
0,Al Rabea Al Arabi Restaurant,Middle Eastern Restaurant,NaN,IN,NaN,India,NaN,3109,[India],"[{'label': 'display', 'lat': 17.39536160730009...",17.395362,78.432614,NaN,NaN,NaN,517bee0be4b055745975c517
1,Akbar Fast Food Restaurant,Indian Restaurant,Adj. Prince Hotel,IN,Hyderabad,India,Meraj Hotel,2076,"[Adj. Prince Hotel (Meraj Hotel), Hyderabad 50...","[{'label': 'display', 'lat': 17.39448615049604...",17.394486,78.442452,NaN,500028,Telangana,4f9433d3e4b0949d21694780
2,Paradise Restaurant,Hyderabadi Restaurant,Paradise Circle,IN,Secunderabad,India,NaN,6533,"[Paradise Circle, Secunderabad 500003, Telanga...","[{'label': 'display', 'lat': 17.44184420016073...",17.441844,78.487354,NaN,500003,Telangana,4bcee9d1cc8cd13a5efdc4cf
3,Shah Ghouse Cafe and Restaurant,Indian Restaurant,Toli Chowli,IN,Hyderabad,India,M,3911,"[Toli Chowli (M), Hyderabad 500058, Telangana,...","[{'label': 'display', 'lat': 17.3962770409263,...",17.396277,78.425094,NaN,500058,Telangana,4c81163ad92ea093375a3d72
4,Grills restaurant,Financial or Legal Service,NaN,IN,Hyderabad,India,NaN,541,"[Hyderabad, Telangana, India]","[{'label': 'display', 'lat': 17.38612646647625...",17.386126,78.456796,NaN,NaN,Telangana,5823557cda82023188157a2f

In [70]:
# delete unnecessary columns
clean_Restaurant_dataframe2= clean_Restaurant_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs', 'neighborhood', 'id'], axis=1)
clean_Restaurant_dataframe2

,name,categories,address,lat,lng,postalCode,state
0,Al Rabea Al Arabi Restaurant,Middle Eastern Restaurant,NaN,17.395362,78.432614,NaN,NaN
1,Akbar Fast Food Restaurant,Indian Restaurant,Adj. Prince Hotel,17.394486,78.442452,500028,Telangana
2,Paradise Restaurant,Hyderabadi Restaurant,Paradise Circle,17.441844,78.487354,500003,Telangana
3,Shah Ghouse Cafe and Restaurant,Indian Restaurant,Toli Chowli,17.396277,78.425094,500058,Telangana
4,Grills restaurant,Financial or Legal Service,NaN,17.386126,78.456796,NaN,Telangana
5,Zoha Restaurant,Hyderabadi Restaurant,NaN,17.393055,78.457642,NaN,NaN
6,Sri Anupama Family Restaurant,Andhra Restaurant,"Ahmed Commercial Complex, Ameerpet Main Road, ...",17.384757,78.455890,500073,Telangana
7,Woodland Restaurant,Vegetarian / Vegan Restaurant,NaN,17.402138,78.485842,NaN,NaN
8,Nimrah Restaurant And Bakery,Restaurant,NaN,17.392616,78.468165,500004,TG
9,Azizia Restaurant,Restaurant,NaN,17.392580,78.467255,NaN,NaN
10,Voulga Restaurant,Restaurant,Darus Salaam,17.382614,78.465828,NaN,Telangana
11,"Venue, vegetarian Restaurant",Indian Restaurant,NaN,17.393010,78.470391,NaN,Telangana
12,Dwaraka (Veg Restaurant),Indian Restaurant,NaN,17.423329,78.454327,NaN,Telangana
13,Venkey's Veg - A Multi Cuisine Restaurant,Fast Food Restaurant,"Hotel Harsha, First Floor, Public Garden Road,...",17.394560,78.470570,NaN,Telangana
14,Paradise Restaurant,Indian Restaurant,NaN,17.403602,78.452848,NaN,Telangana
15,Crystal Restaurant,Asian Restaurant,RTC x road,17.406608,78.496268,NaN,Andhra Pradesh
16,Albaik Restaurant,None,NaN,17.395116,78.471534,NaN,NaN
17,Dhruva Bar and Restaurant,Restaurant,Manikonda,17.400908,78.386887,NaN,NaN
18,Lucky Restaurant,Afghan Restaurant,NaN,17.404486,78.464260,500004,Telangana
19,Hanky Panky Family Restaurant,Fast Food Restaurant,5-5-489/A&B mozamjahi rd,17.384749,78.474036,NaN,Telangana
20,Sukh Sagar Restaurant,Indian Restaurant,NaN,17.403976,78.467873,NaN,NaN
21,Agrawala Bakers And Restaurant,Snack Place,"J. N. Road, Abids",17.386532,78.476013,500064,Telangana
22,Vashishta Restaurant,None,Suchitra Crossroads,17.391191,78.475894,NaN,Telangana
23,Bademiyan Kababs Restaurant,Kebab Restaurant,NaN,17.403130,78.460020,NaN,NaN
24,Kabul Darbar Restaurant,Afghan Restaurant,Lakdi Ka Pul,17.402985,78.461993,NaN,Telangana
25,Seena Restaurant & Bakery,Bakery,NaN,17.381676,78.474987,NaN,NaN
26,Carnival Restaurant,Fast Food Restaurant,"Door No 11-5-431, Ground Floor, Red Hills, Lak...",17.404373,78.462127,NaN,Telangana
27,Mughal Restaurant,Indian Restaurant,Lakdi-Ka-Pul,17.406657,78.464224,NaN,Telangana
28,Narmada Bar & Restaurant,Bar,Opp. Palace Heights Hotel,17.391129,78.476723,NaN,Telangana
29,Vaishnav's Restaurant,Food,Kundanbagh,17.435972,78.460905,500016,Telangana
30,Nasheman Restaurant,Indian Restaurant,NaN,17.403915,78.445517,NaN,NaN
31,Okra Restaurant,Restaurant,Opposite Hussain Sagar Lake,17.423817,78.487257,500080,Telangana
32,Haking Restaurant,Chinese Restaurant,NaN,17.405319,78.458179,NaN,NaN
33,Eagle bar & restaurant,None,Lakdikapul,17.404791,78.464296,NaN,Andhra Pradesh
34,Astoria Restaurant,Indian Restaurant,NaN,17.406413,78.467971,NaN,NaN
35,Swati Multi-cuisine Restaurant,Vegetarian / Vegan Restaurant,Hyderguda,17.399397,78.479537,NaN,Telangana
36,Green Bawarchi Restaurant,Indian Restaurant,NaN,17.406462,78.461249,NaN,NaN
37,Swad restaurant,None,NaN,17.376700,78.475375,NaN,Telangana
38,Rangrez Fine Dine Restaurant,North Indian Restaurant,First Floor,17.428822,78.373924,500081,Telangana
39,Taj Mahal -A- Restaurant And Bakery,Caf챕,NaN,17.390025,78.480420,NaN,NaN
40,New Pride Restaurant,Asian Restaurant,NaN,17.394349,78.442371,NaN,NaN
41,Kholani's Restaurant,Indian Restaurant,4/1/898,17.388792,78.480760,500001,Telangana
42,Mushkab Restaurant,Indian Restaurant,Sun City,17.365207,78.397834,NaN,NaN
43,Mooch Bar & Restaurant,Bar,NaN,17.406388,78.451224,500028,Telangana
44,Kshetra Veg Restaurant,Indian Restaurant,Beside Eenadu Office,17.415591,78.457091,NaN,Telangana
45,New Diamond Restaurant & Cafe,Hyderabadi Restaurant,Behind Mehdipatnam Bus Stop,17.394226,78.440545,500028,TG
46,Bahar Multi Cuisine Restaurant,Restaurant,NaN,17.399776,78.478477,NaN,Andhra Pradesh
47,Salwa Multicuisine Restaurant,Multicuisine Indian Restaurant,Masab Tank,17.407203,78.451233,500004,TG
48,Shanbhag Restaurant,Restaurant,Basheerbagh,17.402987,78.476213,NaN,Telangana
49,Redrose restaurant,Caf챕,"Beside indian oil petrolpump, erra manzil.",17.421255,78.455736,500082,Telangana

In [71]:
# delete rows with none values
df_Restaurant = clean_Restaurant_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
df_Restaurant

,name,categories,address,lat,lng,postalCode,state
1,Akbar Fast Food Restaurant,Indian Restaurant,Adj. Prince Hotel,17.394486,78.442452,500028,Telangana
2,Paradise Restaurant,Hyderabadi Restaurant,Paradise Circle,17.441844,78.487354,500003,Telangana
3,Shah Ghouse Cafe and Restaurant,Indian Restaurant,Toli Chowli,17.396277,78.425094,500058,Telangana
6,Sri Anupama Family Restaurant,Andhra Restaurant,"Ahmed Commercial Complex, Ameerpet Main Road, ...",17.384757,78.455890,500073,Telangana
21,Agrawala Bakers And Restaurant,Snack Place,"J. N. Road, Abids",17.386532,78.476013,500064,Telangana
29,Vaishnav's Restaurant,Food,Kundanbagh,17.435972,78.460905,500016,Telangana
31,Okra Restaurant,Restaurant,Opposite Hussain Sagar Lake,17.423817,78.487257,500080,Telangana
38,Rangrez Fine Dine Restaurant,North Indian Restaurant,First Floor,17.428822,78.373924,500081,Telangana
41,Kholani's Restaurant,Indian Restaurant,4/1/898,17.388792,78.480760,500001,Telangana
45,New Diamond Restaurant & Cafe,Hyderabadi Restaurant,Behind Mehdipatnam Bus Stop,17.394226,78.440545,500028,TG
47,Salwa Multicuisine Restaurant,Multicuisine Indian Restaurant,Masab Tank,17.407203,78.451233,500004,TG
49,Redrose restaurant,Caf챕,"Beside indian oil petrolpump, erra manzil.",17.421255,78.455736,500082,Telangana

# CAFETERIA

In [72]:
# search for Cafeteria
search_query = 'Cafeteria'
radius = 25000

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=FN3SSHY5YSDJDHA5THZXW315E4ZJFDEO4IOTWFZZUSVKEWDZ&client_secret=VC1JLYNG2ZOZPN4E2JJ2WXD24EKJAA1VOTFYJGS3FJWKOANK&ll=17.38878595,78.4610647345315&v=20191218&query=Cafeteria&radius=25000&limit=50'

In [73]:
# Send the GET Request and examine the results
cresults = requests.get(url).json()
#cresults

In [74]:
# assign relevant part of JSON to venues
venues = cresults['response']['venues']

# tranform venues into a dataframe
Cafeteria_dataframe = json_normalize(venues)
Cafeteria_dataframe.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d1a1941735', 'name': 'C...",False,4eabb0cfcc217eb08ede0abc,"Near Library, IIIT-H",IN,Hyderabad,India,NaN,13503,"[Near Library, IIIT-H, Hyderabad 500032, Telan...","[{'label': 'display', 'lat': 17.44616893022691...",17.446169,78.349053,500032,Telangana,Cafeteria,v-1576670486
1,"[{'id': '4bf58dd8d48988d10f941735', 'name': 'I...",False,500e61dce4b0546f45f21742,NaN,IN,NaN,India,NaN,2514,[India],"[{'label': 'display', 'lat': 17.40896224975586...",17.408962,78.450424,NaN,NaN,"Cafeteria, care hospitals, banjara hills",v-1576670486
2,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...",False,51b042c0498ef1d0c56cdbe8,NaN,IN,NaN,India,NaN,3295,[India],"[{'label': 'display', 'lat': 17.41533119508364...",17.415331,78.447321,NaN,NaN,cafeteria care out patient center,v-1576670486
3,"[{'id': '4bf58dd8d48988d128941735', 'name': 'C...",False,4cee29538604a1cddbc5f6c0,Madhapur,IN,Hyderabad,India,Hitech city,10541,"[Madhapur (Hitech city), Hyderabad 500081, Tel...","[{'label': 'display', 'lat': 17.44376547820611...",17.443765,78.380259,500081,Telangana,"IBM Cafeteria, 2A, Mindspace",v-1576670486
4,[],False,4e12e18baeb74afe60c9bd3d,NaN,IN,NaN,India,NaN,2172,[India],"[{'label': 'display', 'lat': 17.40421717795755...",17.404217,78.448548,NaN,NaN,Gulf cafeteria,v-1576670486

# CLEANING CAFETERIA DATA

In [75]:
# keep only columns that include venue name, and anything that is associated with location
Cafeteria_clean_columns = ['name', 'categories'] + [col for col in Cafeteria_dataframe.columns if col.startswith('location.')]+ ['id']
clean_Cafeteria_dataframe = Cafeteria_dataframe.loc[:,Cafeteria_clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list4 = row['categories']
    except:
        categories_list4 = row['venue.categories']
        
    if len(categories_list4) == 0:
        return None
    else:
        return categories_list4[0]['name']

# filter the category for each row
clean_Cafeteria_dataframe['categories'] = clean_Cafeteria_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_Cafeteria_dataframe.columns = [column.split('.')[-1] for column in clean_Cafeteria_dataframe.columns]

clean_Cafeteria_dataframe.head()

,name,categories,address,cc,city,country,crossStreet,distance,formattedAddress,labeledLatLngs,lat,lng,postalCode,state,id
0,Cafeteria,College Cafeteria,"Near Library, IIIT-H",IN,Hyderabad,India,NaN,13503,"[Near Library, IIIT-H, Hyderabad 500032, Telan...","[{'label': 'display', 'lat': 17.44616893022691...",17.446169,78.349053,500032,Telangana,4eabb0cfcc217eb08ede0abc
1,"Cafeteria, care hospitals, banjara hills",Indian Restaurant,NaN,IN,NaN,India,NaN,2514,[India],"[{'label': 'display', 'lat': 17.40896224975586...",17.408962,78.450424,NaN,NaN,500e61dce4b0546f45f21742
2,cafeteria care out patient center,Vegetarian / Vegan Restaurant,NaN,IN,NaN,India,NaN,3295,[India],"[{'label': 'display', 'lat': 17.41533119508364...",17.415331,78.447321,NaN,NaN,51b042c0498ef1d0c56cdbe8
3,"IBM Cafeteria, 2A, Mindspace",Cafeteria,Madhapur,IN,Hyderabad,India,Hitech city,10541,"[Madhapur (Hitech city), Hyderabad 500081, Tel...","[{'label': 'display', 'lat': 17.44376547820611...",17.443765,78.380259,500081,Telangana,4cee29538604a1cddbc5f6c0
4,Gulf cafeteria,None,NaN,IN,NaN,India,NaN,2172,[India],"[{'label': 'display', 'lat': 17.40421717795755...",17.404217,78.448548,NaN,NaN,4e12e18baeb74afe60c9bd3d

In [76]:
# delete unnecessary columns
clean_Cafeteria_dataframe2= clean_Cafeteria_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs', 'id'], axis=1)
clean_Cafeteria_dataframe2

,name,categories,address,lat,lng,postalCode,state
0,Cafeteria,College Cafeteria,"Near Library, IIIT-H",17.446169,78.349053,500032,Telangana
1,"Cafeteria, care hospitals, banjara hills",Indian Restaurant,NaN,17.408962,78.450424,NaN,NaN
2,cafeteria care out patient center,Vegetarian / Vegan Restaurant,NaN,17.415331,78.447321,NaN,NaN
3,"IBM Cafeteria, 2A, Mindspace",Cafeteria,Madhapur,17.443765,78.380259,500081,Telangana
4,Gulf cafeteria,None,NaN,17.404217,78.448548,NaN,NaN
5,Oracle Phase 3 Cafeteria,Cafeteria,Hyderabad,17.449396,78.373959,NaN,Telangana
6,Akson Cafeteria,Indian Restaurant,Panjagutta,17.424736,78.453783,NaN,Telangana
7,Cafeteria,College Cafeteria,"Near Basketball Court, IIIT-H",17.447850,78.347720,500032,Telangana
8,Cafeteria - Bharat Dynamics Limited,Cafeteria,Kanchanbagh,17.330794,78.507896,NaN,Telangana
9,Cafeteria- Watermark,Sandwich Place,NaN,17.454240,78.370970,NaN,NaN
10,NSL Cafeteria,Diner,NaN,17.412256,78.435894,NaN,NaN
11,Cafeteria 3rd Floor Auriga A Wing,Caf챕,NaN,17.435594,78.382481,NaN,NaN
12,Cafeteria at Thompson Reuters,Cafeteria,NaN,17.437217,78.381548,NaN,NaN
13,Al Hejaz Cafeteria,Falafel Restaurant,NaN,17.391796,78.426712,NaN,NaN
14,Cafeteria,Fast Food Restaurant,Mahindra Satyam campus,17.542933,78.430105,NaN,Telangana
15,St. Francis Cafeteria,College Cafeteria,St. Francis College for Women,17.437108,78.460816,5000016,Telangana
16,PurpleTalk Cafeteria,Indian Restaurant,NaN,17.426099,78.421579,NaN,NaN
17,Aegis Cafeteria,Indian Restaurant,NaN,17.441179,78.458773,NaN,NaN
18,St.Marys Cafeteria,College Cafeteria,"8-3-229,Taher Villa",17.436728,78.428378,NaN,Telangana
19,Wipro Sez Cafeteria,Food Court,NaN,17.426861,78.343516,NaN,NaN
20,10th floor Cafeteria,Cafeteria,I Labs,17.432606,78.386908,NaN,Telangana
21,Qualcomm Bldg 9 Cafeteria,Cafeteria,NaN,17.441126,78.380920,NaN,NaN
22,Ou Cafeteria,Restaurant,NaN,17.423067,78.530954,NaN,NaN
23,Waverock Cafeteria,Food Court,Gachibowli,17.418998,78.348175,NaN,NaN
24,Dell Cafeteria,Cafeteria,Dell,17.448481,78.373709,NaN,Telangana
25,7th hell cafeteria - accenture,Restaurant,Raidurgam,17.420660,78.374804,NaN,Andhrapradesh
26,2D Cafeteria,Event Space,Ilabs,17.432840,78.386331,NaN,Telangana
27,Ilabs 6th floor Cafeteria,Cafeteria,ILabs,17.432546,78.387731,NaN,Telangana
28,Building 8 Cafeteria,Indian Restaurant,Raheja Mindspace,17.440500,78.380271,NaN,Telangana
29,JP Morgan Chase Cafeteria,Cafeteria,NaN,17.438493,78.381976,NaN,NaN
30,Deloitte Cafeteria,Food Court,"deloitte street,d block",17.447867,78.376084,NaN,Telangana
31,Accenture hdc1A cafeteria,Diner,NaN,17.442213,78.380954,NaN,NaN
32,Infotech Phase 2 Cafeteria,Cafeteria,NaN,17.438345,78.382095,NaN,NaN
33,Annapurna - Cyient Cafeteria,Cafeteria,NaN,17.437772,78.380075,NaN,NaN
34,3A Cafeteria,Food,"IBM, Mindspace",17.444284,78.379978,500081,Telangana
35,ntt cafeteria,Cafeteria,Cyber Perl,17.446034,78.376482,NaN,NaN
36,IBM 3A Cafeteria,Food Court,"Mindspace, Madhapur",17.443661,78.379630,NaN,Telangana
37,Cafeteria At Mahindra Sathyam Technology Center,Caf챕,NaN,17.570479,78.434516,NaN,NaN
38,Nexwave cafeteria,Food Court,NaN,17.442330,78.377310,NaN,NaN
39,Cafeteria At Mahindra Sathyam Technology Center,Cafeteria,Mahindra Sathyam Technology Center,17.571861,78.431942,NaN,Telangana
40,iLabs MLCP Cafeteria,College Cafeteria,NaN,17.432834,78.388023,NaN,NaN
41,Oracle Phase 1 Cafeteria,Cafeteria,Oracle India Pvt Ltd,17.449474,78.374065,500081,Telangana
42,Cafeteria - CB Block,Cafeteria,Computer Block,17.573440,78.436944,NaN,Telangana
43,ValueLabs Cafeteria,Office,NaN,17.449493,78.372832,NaN,NaN
44,Cognizant Cafeteria,Indian Restaurant,"phase-2,3rd floor,Dlf Cyber city",17.446835,78.360453,NaN,Telangana
45,Valuelabs H2 Cafeteria,Cafeteria,NaN,17.446835,78.371647,500081,TG
46,Accenture Cafeteria,Cafeteria,NaN,17.424582,78.349811,NaN,NaN
47,MSLW Cafeteria,Indian Restaurant,NaN,17.452509,78.370304,NaN,NaN
48,Cognizant Cafeteria,Indian Restaurant,G Floor,17.446453,78.352042,NaN,NaN
49,3 cube towers cafeteria,Caf챕,NaN,17.454760,78.370182,NaN,NaN

In [77]:
# delete rows with none values
df_Cafeteria = clean_Cafeteria_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
df_Cafeteria

,name,categories,address,lat,lng,postalCode,state
0,Cafeteria,College Cafeteria,"Near Library, IIIT-H",17.446169,78.349053,500032,Telangana
3,"IBM Cafeteria, 2A, Mindspace",Cafeteria,Madhapur,17.443765,78.380259,500081,Telangana
7,Cafeteria,College Cafeteria,"Near Basketball Court, IIIT-H",17.447850,78.347720,500032,Telangana
15,St. Francis Cafeteria,College Cafeteria,St. Francis College for Women,17.437108,78.460816,5000016,Telangana
34,3A Cafeteria,Food,"IBM, Mindspace",17.444284,78.379978,500081,Telangana
41,Oracle Phase 1 Cafeteria,Cafeteria,Oracle India Pvt Ltd,17.449474,78.374065,500081,Telangana

# SHOPPING

In [78]:
# search for Shopping
search_query = 'Shopping'
radius = 25000

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=FN3SSHY5YSDJDHA5THZXW315E4ZJFDEO4IOTWFZZUSVKEWDZ&client_secret=VC1JLYNG2ZOZPN4E2JJ2WXD24EKJAA1VOTFYJGS3FJWKOANK&ll=17.38878595,78.4610647345315&v=20191218&query=Shopping&radius=25000&limit=50'

In [79]:
# Send the GET Request and examine the results
sresults = requests.get(url).json()
#sresults

In [80]:
# assign relevant part of JSON to venues
venues = sresults['response']['venues']

# tranform venues into a dataframe
Shopping_dataframe = json_normalize(venues)
Shopping_dataframe.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId,venuePage.id
0,"[{'id': '4bf58dd8d48988d103951735', 'name': 'C...",False,5156fa20e4b00f5f95a76ff7,NaN,IN,NaN,India,NaN,2844,[India],"[{'label': 'display', 'lat': 17.38850544801230...",17.388505,78.487839,NaN,NaN,koti shopping road,v-1576670667,NaN
1,"[{'id': '5744ccdfe4b0c0459246b4dc', 'name': 'S...",False,584d3f1e8ae363062bdceed0,NaN,IN,NaN,India,NaN,8396,[India],"[{'label': 'display', 'lat': 17.367939, 'lng':...",17.367939,78.537025,NaN,NaN,Shopping,v-1576670667,NaN
2,"[{'id': '4bf58dd8d48988d103951735', 'name': 'C...",False,517252afe4b0e656c21a8b25,NaN,IN,NaN,India,NaN,2602,[India],"[{'label': 'display', 'lat': 17.39515314863346...",17.395153,78.437489,NaN,NaN,Chennail Shopping Mall,v-1576670667,NaN
3,"[{'id': '4bf58dd8d48988d103951735', 'name': 'C...",False,4f8fd59ce4b040e3a7cbfd9a,Mehadipatnam,IN,Hyderabad,India,NaN,2582,"[Mehadipatnam, Hyderabad, Telangana, India]","[{'label': 'display', 'lat': 17.39513275599642...",17.395133,78.437678,NaN,Telangana,CMR Shopping Mall,v-1576670667,NaN
4,"[{'id': '4bf58dd8d48988d103951735', 'name': 'C...",False,517254fae4b02cd2b90e54c2,NaN,IN,NaN,India,NaN,2676,[India],"[{'label': 'display', 'lat': 17.39492065932736...",17.394921,78.436706,NaN,NaN,"Chennai Shopping Mall, P.V.Naras I mha Rao Exp...",v-1576670667,NaN

# CLEAN SHOP DATA

In [81]:
# keep only columns that include venue name, and anything that is associated with location
Shopping_clean_columns = ['name', 'categories'] + [col for col in Shopping_dataframe.columns if col.startswith('location.')]+ ['id']
clean_Shopping_dataframe = Shopping_dataframe.loc[:,Shopping_clean_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list5 = row['categories']
    except:
        categories_list5 = row['venue.categories']
        
    if len(categories_list5) == 0:
        return None
    else:
        return categories_list5[0]['name']

# filter the category for each row
clean_Shopping_dataframe['categories'] = clean_Shopping_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_Shopping_dataframe.columns = [column.split('.')[-1] for column in clean_Shopping_dataframe.columns]

clean_Shopping_dataframe.head()

,name,categories,address,cc,city,country,crossStreet,distance,formattedAddress,labeledLatLngs,lat,lng,postalCode,state,id
0,koti shopping road,Clothing Store,NaN,IN,NaN,India,NaN,2844,[India],"[{'label': 'display', 'lat': 17.38850544801230...",17.388505,78.487839,NaN,NaN,5156fa20e4b00f5f95a76ff7
1,Shopping,Shopping Plaza,NaN,IN,NaN,India,NaN,8396,[India],"[{'label': 'display', 'lat': 17.367939, 'lng':...",17.367939,78.537025,NaN,NaN,584d3f1e8ae363062bdceed0
2,Chennail Shopping Mall,Clothing Store,NaN,IN,NaN,India,NaN,2602,[India],"[{'label': 'display', 'lat': 17.39515314863346...",17.395153,78.437489,NaN,NaN,517252afe4b0e656c21a8b25
3,CMR Shopping Mall,Clothing Store,Mehadipatnam,IN,Hyderabad,India,NaN,2582,"[Mehadipatnam, Hyderabad, Telangana, India]","[{'label': 'display', 'lat': 17.39513275599642...",17.395133,78.437678,NaN,Telangana,4f8fd59ce4b040e3a7cbfd9a
4,"Chennai Shopping Mall, P.V.Naras I mha Rao Exp...",Clothing Store,NaN,IN,NaN,India,NaN,2676,[India],"[{'label': 'display', 'lat': 17.39492065932736...",17.394921,78.436706,NaN,NaN,517254fae4b02cd2b90e54c2

In [83]:
# delete unnecessary columns
clean_Shopping_dataframe2= clean_Shopping_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs', 'id'], axis=1)
clean_Shopping_dataframe2

,name,categories,address,lat,lng,postalCode,state
0,koti shopping road,Clothing Store,NaN,17.388505,78.487839,NaN,NaN
1,Shopping,Shopping Plaza,NaN,17.367939,78.537025,NaN,NaN
2,Chennail Shopping Mall,Clothing Store,NaN,17.395153,78.437489,NaN,NaN
3,CMR Shopping Mall,Clothing Store,Mehadipatnam,17.395133,78.437678,NaN,Telangana
4,"Chennai Shopping Mall, P.V.Naras I mha Rao Exp...",Clothing Store,NaN,17.394921,78.436706,NaN,NaN
5,Kalaniketan Shopping Mall,Clothing Store,NaN,17.405158,78.480126,NaN,NaN
6,shopping centre,Gift Shop,r.p road,17.432668,78.493590,NaN,Andhra Pradesh
7,Innovation Shopping Point,Gift Shop,NaN,17.392132,78.434639,NaN,NaN
8,South India Shopping Mall,Women's Store,NaN,17.435398,78.444784,NaN,Telangana
9,South India Shopping Mall,Shopping Plaza,attapur,17.361526,78.427290,500030,Telangana
10,South India Shopping Mall,Shopping Mall,Patny,17.441913,78.495741,NaN,NaN
11,Sm Shopping Mall,Shopping Mall,NaN,17.412104,78.423075,NaN,NaN
12,Padmavathi Shopping Mall,None,opp. Chermas,17.431741,78.447849,NaN,Telangana
13,Chennai Shopping Mall,None,Chandanagar,17.430734,78.446520,NaN,NaN
14,Chennai Shopping Mall,Clothing Store,NaN,17.434242,78.446594,NaN,NaN
15,Thailand Shopping Center,Gift Shop,NaN,17.401384,78.412430,NaN,NaN
16,shoppingmantraz,IT Services,S R Nagar,17.441553,78.448485,NaN,Telangana
17,City Center Mall,Shopping Mall,Banjara Hills,17.415156,78.448943,500034,Telangana
18,Chennai Shopping Mall,Clothing Store,NaN,17.439280,78.494681,NaN,NaN
19,CMR Shopping Mall,Shopping Mall,"Sarojini Devi Rd, Telangana Region, Kalasiguda",17.441746,78.493605,NaN,Andhra Pradesh
20,kalaniketan Shopping Mall,Clothing Store,Chaitanyapuri,17.368452,78.530410,NaN,Telangana
21,South india shopping mall,Shopping Mall,Gachibowli,17.435361,78.368717,NaN,Telangana
22,vasundhara shopping mall,Shopping Mall,NaN,17.397528,78.532837,NaN,NaN
23,ShoppingMantraz Cashback,Business Service,"S.R.Nagar, Hyderabad",17.395733,78.539393,500016,Telangana
24,South India Shopping Mall,Shopping Mall,NaN,17.492826,78.404435,NaN,Telangana
25,Chennai Shopping Mall,Boutique,Kothapet,17.362967,78.543781,NaN,NaN
26,Rainbow Shopping Mall,Shopping Mall,Karkhana,17.464139,78.502934,500009,Telangana
27,South India Shopping Mall,Shopping Mall,Kothapet,17.358498,78.544859,NaN,Telangana
28,kalanikethan Shopping Mall,Women's Store,NaN,17.362756,78.543451,NaN,NaN
29,Auchan Hypermarket,Department Store,"6-3-1112, Oasis Centre",17.430479,78.456133,NaN,Telangana
30,Chennai Shopping Mall,Fabric Shop,NaN,17.505049,78.478134,500067,Telangana
31,Shopping Mart,Convenience Store,Mahindra Satyam Technology Center,17.569427,78.433425,NaN,Telangana
32,Telkar's Shopping Mall,Clothing Store,Chanda Nagar,17.482865,78.406770,NaN,NaN
33,Serena Shopping Mall,Shopping Mall,NaN,17.511353,78.447319,NaN,NaN
34,Geetha krishna shopping point,Clothing Store,NaN,17.336058,78.568569,NaN,NaN
35,Gita Krishna Shopping Center,Clothing Store,NaN,17.334999,78.567921,NaN,NaN
36,Klm Shopping Mall,Costume Shop,NaN,17.503017,78.479830,NaN,Telangana
37,Chennai shopping mall,Clothing Store,NaN,17.494742,78.399300,NaN,NaN
38,KPHB Street Shopping,Market,NaN,17.494947,78.398758,NaN,NaN
39,Kalaniketan Shopping Mall,None,Kukatpally,17.495399,78.398701,500072,Telangana
40,6 Shopping Mall,Shopping Mall,NaN,17.495624,78.396929,NaN,NaN
41,Vayupuri Shopping Complex,Salon / Barbershop,"Road No 3, Sainikpuri",17.483989,78.544881,NaN,Telangana
42,Chennai Shopping Mall,Shopping Mall,NaN,17.480928,78.555458,NaN,NaN
43,colors family shopping mall,Shopping Mall,NaN,17.544433,78.491835,NaN,NaN
44,Maangalya Shopping Mall in Hyderabad,Shopping Mall,"Sri Durga Colony, Miyapur Madeenaguda",17.497717,78.339901,500050,Telangana
45,Chennai Shopping Mall,Clothing Store,NaN,17.495302,78.333130,NaN,NaN
46,Kuber Shopping Mall,Clothing Store,NaN,17.495365,78.312447,NaN,NaN
47,Max,Clothing Store,A S Rao Nagar,17.478846,78.558801,NaN,NaN

In [84]:
# delete rows which its category is not Shopping Mall
df_Shopping = clean_Shopping_dataframe2[clean_Shopping_dataframe2.categories == 'Shopping Mall']
df_Shopping

,name,categories,address,lat,lng,postalCode,state
10,South India Shopping Mall,Shopping Mall,Patny,17.441913,78.495741,NaN,NaN
11,Sm Shopping Mall,Shopping Mall,NaN,17.412104,78.423075,NaN,NaN
17,City Center Mall,Shopping Mall,Banjara Hills,17.415156,78.448943,500034,Telangana
19,CMR Shopping Mall,Shopping Mall,"Sarojini Devi Rd, Telangana Region, Kalasiguda",17.441746,78.493605,NaN,Andhra Pradesh
21,South india shopping mall,Shopping Mall,Gachibowli,17.435361,78.368717,NaN,Telangana
22,vasundhara shopping mall,Shopping Mall,NaN,17.397528,78.532837,NaN,NaN
24,South India Shopping Mall,Shopping Mall,NaN,17.492826,78.404435,NaN,Telangana
26,Rainbow Shopping Mall,Shopping Mall,Karkhana,17.464139,78.502934,500009,Telangana
27,South India Shopping Mall,Shopping Mall,Kothapet,17.358498,78.544859,NaN,Telangana
33,Serena Shopping Mall,Shopping Mall,NaN,17.511353,78.447319,NaN,NaN
40,6 Shopping Mall,Shopping Mall,NaN,17.495624,78.396929,NaN,NaN
42,Chennai Shopping Mall,Shopping Mall,NaN,17.480928,78.555458,NaN,NaN
43,colors family shopping mall,Shopping Mall,NaN,17.544433,78.491835,NaN,NaN
44,Maangalya Shopping Mall in Hyderabad,Shopping Mall,"Sri Durga Colony, Miyapur Madeenaguda",17.497717,78.339901,500050,Telangana

# GENERATING MAP FOR VISUALIZING HOTELS,CAFETERIA AND SHOPPING STORES

In [85]:
# create dataframe of hotels, shopping stores and Cafeteria
hotel_neighbourhood_df = pd.concat([df_hotel, df_Cafeteria, df_Shopping], ignore_index=True)
hotel_neighbourhood_df

,name,categories,address,lat,lng,postalCode,state
0,Hotel Celestee Grand,Hotel,"H.no - 11-6-460-465, Dargah Road, Nampally,",17.392014,78.465233,500001,Telangana
1,Hotel Harsha,Hotel,39 public garden road,17.392818,78.470785,500001,Telangana
2,Cafeteria,College Cafeteria,"Near Library, IIIT-H",17.446169,78.349053,500032,Telangana
3,"IBM Cafeteria, 2A, Mindspace",Cafeteria,Madhapur,17.443765,78.380259,500081,Telangana
4,Cafeteria,College Cafeteria,"Near Basketball Court, IIIT-H",17.447850,78.347720,500032,Telangana
5,St. Francis Cafeteria,College Cafeteria,St. Francis College for Women,17.437108,78.460816,5000016,Telangana
6,3A Cafeteria,Food,"IBM, Mindspace",17.444284,78.379978,500081,Telangana
7,Oracle Phase 1 Cafeteria,Cafeteria,Oracle India Pvt Ltd,17.449474,78.374065,500081,Telangana
8,South India Shopping Mall,Shopping Mall,Patny,17.441913,78.495741,NaN,NaN
9,Sm Shopping Mall,Shopping Mall,NaN,17.412104,78.423075,NaN,NaN
10,City Center Mall,Shopping Mall,Banjara Hills,17.415156,78.448943,500034,Telangana
11,CMR Shopping Mall,Shopping Mall,"Sarojini Devi Rd, Telangana Region, Kalasiguda",17.441746,78.493605,NaN,Andhra Pradesh
12,South india shopping mall,Shopping Mall,Gachibowli,17.435361,78.368717,NaN,Telangana
13,vasundhara shopping mall,Shopping Mall,NaN,17.397528,78.532837,NaN,NaN
14,South India Shopping Mall,Shopping Mall,NaN,17.492826,78.404435,NaN,Telangana
15,Rainbow Shopping Mall,Shopping Mall,Karkhana,17.464139,78.502934,500009,Telangana
16,South India Shopping Mall,Shopping Mall,Kothapet,17.358498,78.544859,NaN,Telangana
17,Serena Shopping Mall,Shopping Mall,NaN,17.511353,78.447319,NaN,NaN
18,6 Shopping Mall,Shopping Mall,NaN,17.495624,78.396929,NaN,NaN
19,Chennai Shopping Mall,Shopping Mall,NaN,17.480928,78.555458,NaN,NaN
20,colors family shopping mall,Shopping Mall,NaN,17.544433,78.491835,NaN,NaN
21,Maangalya Shopping Mall in Hyderabad,Shopping Mall,"Sri Durga Colony, Miyapur Madeenaguda",17.497717,78.339901,500050,Telangana

In [86]:
# Generate map to visualize hotel neighbourhood including shopping stores and Cafeteria 
hotel_map = folium.Map(location=[latitude, longitude], zoom_start=14)

for lat, lng, name, categories, address in zip(hotel_neighbourhood_df['lat'], hotel_neighbourhood_df['lng'], 
                                           hotel_neighbourhood_df['name'], hotel_neighbourhood_df['categories'],\
                                               hotel_neighbourhood_df['address']):
    label = '{}, {}'.format(name, address)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='blue',
        fill_opacity=0.7,
        parse_html=False).add_to(hotel_map)  
    
hotel_map

# MAP TO VISUALIZE PARK, RESTAURANT AND CAFETERIA AND HOW THEY CLUSTER TOGETHER

In [87]:
# create dataframe of Park, Restaurant and Cafeteria
park_neighbourhood_df = pd.concat([df_park, df_Restaurant, df_Cafeteria,], ignore_index=True)
park_neighbourhood_df

,name,categories,address,lat,lng,postalCode,state
0,Chacha Nehru Park,Park,Masab Tank,17.401969,78.449486,500028,Telangana
1,Ashok Nagar Children's Park,Park,Ashok Nagar Main Road,17.405775,78.489748,500020,Telangana
2,Akbar Fast Food Restaurant,Indian Restaurant,Adj. Prince Hotel,17.394486,78.442452,500028,Telangana
3,Paradise Restaurant,Hyderabadi Restaurant,Paradise Circle,17.441844,78.487354,500003,Telangana
4,Shah Ghouse Cafe and Restaurant,Indian Restaurant,Toli Chowli,17.396277,78.425094,500058,Telangana
5,Sri Anupama Family Restaurant,Andhra Restaurant,"Ahmed Commercial Complex, Ameerpet Main Road, ...",17.384757,78.455890,500073,Telangana
6,Agrawala Bakers And Restaurant,Snack Place,"J. N. Road, Abids",17.386532,78.476013,500064,Telangana
7,Vaishnav's Restaurant,Food,Kundanbagh,17.435972,78.460905,500016,Telangana
8,Okra Restaurant,Restaurant,Opposite Hussain Sagar Lake,17.423817,78.487257,500080,Telangana
9,Rangrez Fine Dine Restaurant,North Indian Restaurant,First Floor,17.428822,78.373924,500081,Telangana
10,Kholani's Restaurant,Indian Restaurant,4/1/898,17.388792,78.480760,500001,Telangana
11,New Diamond Restaurant & Cafe,Hyderabadi Restaurant,Behind Mehdipatnam Bus Stop,17.394226,78.440545,500028,TG
12,Salwa Multicuisine Restaurant,Multicuisine Indian Restaurant,Masab Tank,17.407203,78.451233,500004,TG
13,Redrose restaurant,Caf챕,"Beside indian oil petrolpump, erra manzil.",17.421255,78.455736,500082,Telangana
14,Cafeteria,College Cafeteria,"Near Library, IIIT-H",17.446169,78.349053,500032,Telangana
15,"IBM Cafeteria, 2A, Mindspace",Cafeteria,Madhapur,17.443765,78.380259,500081,Telangana
16,Cafeteria,College Cafeteria,"Near Basketball Court, IIIT-H",17.447850,78.347720,500032,Telangana
17,St. Francis Cafeteria,College Cafeteria,St. Francis College for Women,17.437108,78.460816,5000016,Telangana
18,3A Cafeteria,Food,"IBM, Mindspace",17.444284,78.379978,500081,Telangana
19,Oracle Phase 1 Cafeteria,Cafeteria,Oracle India Pvt Ltd,17.449474,78.374065,500081,Telangana

In [88]:

# Generate map to visualize park neighbourhood including Restaurant and Cafeteria 
park_map = folium.Map(location=[latitude, longitude], zoom_start=14)

for lat, lng, name, categories, address in zip(park_neighbourhood_df['lat'], park_neighbourhood_df['lng'], 
                                           park_neighbourhood_df['name'], park_neighbourhood_df['categories'],\
                                               park_neighbourhood_df['address']):
    label = '{}, {}'.format(name, address)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='blue',
        fill_opacity=0.7,
        parse_html=False).add_to(park_map)  
    
park_map